
@{
    ViewData["Title"] = "Potwierdzenie adresu email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Potwierdzenie email</h1>
Na adres @ViewBag.Email zostala wyslana wiadomosc. 
Prosimy potwierdzic ten adres, klikajac link zawarty w wiadomosci.


@section Scripts
{
<script>
    $(document).ready(function () {
        EmailConfirmation('@ViewBag.Email');
    });
</script>
}